<ul class="nav flex-column bg-light">
    <li class="nav-item">
        <a href="{{ path('app_account_addresses') }}" class="nav-link">Mes adresses</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_account_update_psw') }}" class="nav-link">Modifier mot de passe</a>
    </li>
    <li class="nav-item">
        <a href="https://127.0.0.1:8000/logout" class="nav-link">Déconnexion</a>
    </li>
</ul>