{% extends 'base.html.twig' %}

{% block title %}La Fourchette Victorieuse - Espace membre{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/account/account.css')}}">
{% endblock %}

{% block body %}
<section id="account">
    <a href="https://127.0.0.1:8000/logout">Déconnexion</a>
</section>
{% endblock %}
