<div id="home-offer">
    <h2 class="text-center">Nos offres</h2>
    <div class="container-fluid">
      <div class="row reveal">
        <div class="card text-center col-lg">
          <img
            src="https://via.placeholder.com/150C/O"
            class="card-img-top"
            alt="cafeteria"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a
              href="#"
              class="btn"
              style="background-color: #eef66c; font-weight: bold"
              >Souscrire</a
            >
          </div>
        </div>
        <div class="card text-center col-lg">
          <img
            src="https://via.placeholder.com/150C/O"
            class="card-img-top"
            alt="cafeteria"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a
              href="#"
              class="btn"
              style="background-color: #eef66c; font-weight: bold"
              >Souscrire</a
            >
          </div>
        </div>
        <div class="card text-center col-lg">
          <img
            src="https://via.placeholder.com/150C/O"
            class="card-img-top"
            alt="cafeteria"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a
              href="#"
              class="btn"
              style="background-color: #eef66c; font-weight: bold"
              >Souscrire</a
            >
          </div>
        </div>
      </div>
    </div>
</div>