<div id="home-offer">
    <h2 class="text-center">Nos offres</h2>
    <div class="container-fluid">
      <div class="row reveal">
        <div class="card text-center col-lg">
          <img
            src="{{asset('image/home/groupe.jpg')}}"
            class="mt-2 card-img-top"
            alt="cafeteria"
          />
          <div class="card-body">
            <h5 class="card-title">Entreprises</h5>
            <p class="card-text">
              Repas pour entreprises à partir de 20 couverts
            </p>
            <a
              href="#"
              class="btn"
              style="background-color: #fdbd32; font-weight: bold"
              >En Savoir Plus</a
            >
          </div>
        </div>
        <div class="card text-center col-lg">
          <img
            src="{{asset('image/home/medium-event.jpg')}}"
            class="mt-2 card-img-top"
            alt="cafeteria"
          />
          <div class="card-body">
            <h5 class="card-title">Évènement taille moyenne</h5>
            <p class="card-text">
              Repas pour évènement entre 100 et 250 couverts
            </p>
            <a
              href="#"
              class="btn"
              style="background-color: #fdbd32; font-weight: bold"
              >En Savoir Plus</a
            >
          </div>
        </div>
        <div class="card text-center col-lg">
          <img
            src="{{asset('image/home/large-event.jpg')}}"
            class="mt-2 card-img-top"
            alt="cafeteria"
          />
          <div class="card-body">
            <h5 class="card-title">Grand évènement</h5>
            <p class="card-text">
              Repas pour évènement supérieur à 250 couverts
            </p>
            <a
              href="#"
              class="btn"
              style="background-color: #fdbd32; font-weight: bold"
              >En Savoir Plus</a
            >
          </div>
        </div>
      </div>
    </div>
</div>