footer {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 900;
  }
  footer .first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
  footer .copyright{
    margin: 2% 0 0 0;
  }

  footer .footer-section {
    flex: 1;
    padding: 0 10px;
  }

  footer .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
    display: block;
  }

  footer a:hover {
    color: #fdbd32;
  }

  @media screen and (max-width: 768px) {
    footer{
      padding: 8%;
    }
    footer .first-row{
      flex-direction: column;
    }
    footer .footer-section {
      margin-bottom: 4%;
    }
  }