<div class="banner">
    <div class="element-container">
      <div class="banner-content">
        <h1 class="text-center">Bienvenue à La Fourchette Victorieuse</h1>
        <a class="btn mt-3 btn-hero" href="#">Nous découvrir</a>
      </div>
    </div>
  </div>