{% extends 'base.html.twig' %}

{% block title %}La Fourchette Victorieuse - Carte des plats{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/category/menu.css')}}">
{% endblock %}

{% block body %}
<section id="dish-menu">
<div class="container">
    <h1>Notre Carte</h1>
    {% include './category/starter.html.twig' %}
    {% include './category/main-course.html.twig' %}
    {% include './category/dessert.html.twig' %}
</div>
</section>
{% endblock %}