#dish-menu{
    width: 100%;
    min-height: 100vh;
    padding: 90px 0 4% 0;
}
#dish-menu .dish-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
}
#dish-menu .dish-link:hover{
    opacity: 0.8;
}
#dish-menu .dish-link img{
    max-width: 100%;
    max-height: 380px ;
}
#dish-menu .dish-link .dish-title{
    font-size: 18px;
}