<div id="home-explanation">
	<h2 class="text-center">Comment ça marche</h2>
	<div class="container-fluid">
		<div class="row pb-5 reveal">
			<div class="text-center col-lg-4">
				<img src="{{ asset('image/home/smartphone.jpg') }}" alt="smartphone"/>
				<h4 class="mt-2">Adresse</h4>
				<p class="mt-4">
					Je renseigne l'adresse à laquelle je souhaite être livré.
				</p>
			</div>
			<div class="text-center col-lg-4">
				<img src="{{ asset('image/home/menu.jpg') }}" alt="restaurant menu"/>
				<h4 class="mt-2">Je choisi</h4>
				<p class="mt-4">
					Je parcours le site et je sélectionne tous ce qui me fait envie.
				</p>
			</div>
			<div class="text-center col-lg-4">
				<img src="{{ asset('image/home/food-delivery.jpg') }}" alt="food delivery"/>
				<h4 class="mt-2">Paiement et livraison</h4>
				<p class="mt-4">
					Je valide mon panier, je suis les instructions pour le paiement.
					            Bon appétit!!
				</p>
			</div>
		</div>
	</div>
</div>
