<footer>
  <div class="footer-info">
    <h2>A propos de nous</h2>
        <p>La Fourchette victorieuse est un restaurant qui se propose pour vous faire 
            voyager à chaque repas et vous faire découvrir chaque parties du monde
        </p>
        <a href="#">En savoir plus</a>
  </div>
  <div class="footer-info"></div>
  <div class="footer-info"></div>
  <div class="footer-info"></div>  
</footer>