<footer>
    <div class="footer-section">
      <h3>À propos de nous</h3>
      <p>La Fourchette victorieuse est un restaurant qui se propose de vous faire 
        voyager à chaque repas et vous faire découvrir chaque parties du monde</p>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>lfv@gmail.com</p>
      <p>01.XX.XX.XX.XX</p>
      <p>Adresse : 10 rue Lorem Ipsum, Paris 75008, France</p>
    </div>

    <div class="footer-section">
      <h3>Plan du site</h3>
      <a href="{{path('app_home')}}">Accueil</a>
      <a href="{{path('app_login')}}">Connexion</a>
      <a href="{{path('app_register')}}">Inscription</a>
      <a href="{{path('app_dish_all')}}">Plats</a>
      <a href="#">Contact</a>
      <a href="#">FAQ</a>
      <a href="#">CGU</a>
    </div>

    <div class="footer-section">
      <h3>Réseaux sociaux</h3>
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div>
  </footer>