#addresses{
    width: 100%;
    min-height: 100vh;
    padding: 90px 0 4% 0;
}
#addresses-create{
    width: 100%;
    min-height: 100vh;
    padding: 90px 0 4% 0;
}
@media screen and (max-width: 768px) {
    #addresses .fv-user-address{
        width: 50%;
        height: auto;
    }
}