<div class="accordion mt-5" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
				1. Comment puis-je passer une commande en ligne ?
			</button>
		</h2>
		<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
			<div class="accordion-body">
				Vous pouvez passer une commande en ligne en visitant notre site web ou en utilisant notre application mobile. Ajoutez simplement vos plats préférés au panier, sélectionnez l'adresse de livraison et procédez au paiement.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
				2. Quels sont vos horaires de livraison ?
			</button>
		</h2>
		<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
			<div class="accordion-body">
				Nos livraisons sont disponibles tous les jours de 11h à 23h. Les horaires peuvent varier les jours fériés, vérifiez sur notre site ou appelez-nous pour confirmation.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
				3. Quelle est la zone de livraison couverte ?
			</button>
		</h2>
		<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
			<div class="accordion-body">
				Nous livrons dans toute la ville de Paris. Vous pouvez vérifier si votre adresse est éligible à la livraison en entrant votre code postal lors de la commande.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
				4. Y a-t-il un minimum de commande pour la livraison ?
			</button>
		</h2>
		<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
			<div class="accordion-body">
				Non il n'y a pas de montant minimum. En revanche si ce montant est inférieur à 10€, celui-ci peut se répercuter sur les frais de livraison le cas échéant.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
				5. Combien coûtent les frais de livraison ?
			</button>
		</h2>
		<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
			<div class="accordion-body">
				Il existe deux formules de livraisons. La formule LFV express à 7€ pour les commandes qui seront livrées en priorité et la formule LFV standard à 4,60€.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
				6. Que faire si ma commande est incorrecte ou en retard ?
			</button>
		</h2>
		<div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
			<div class="accordion-body">
				Si votre commande est incorrecte ou en retard, veuillez nous contacter immédiatement au 01 XX XX XX XX. Nous ferons tout notre possible pour rectifier la situation.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
				7.  Proposez-vous des options végétariennes, véganes ou sans gluten ?
			</button>
		</h2>
		<div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
			<div class="accordion-body">
				Oui, nous proposons une variété de plats adaptés à différents régimes alimentaires. Consultez notre menu en ligne où vous pourrez voir les potentiels aliments allergènes
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
					8.  Puis-je modifier ou annuler ma commande après l'avoir passée ?
				</button>
			</h2>
			<div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
				<div class="accordion-body">
					Les modifications ou annulations sont possibles tant que la commande n’a pas encore été préparée. Veuillez nous contacter dès que possible au 01.XX.XX.XX.XX pour effectuer des changements.
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
						9.  Puis-je suivre ma commande en temps réel ?
					</button>
				</h2>
				<div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse">
					<div class="accordion-body">
						Oui, une fois votre commande passée, vous recevrez un lien pour suivre son statut en temps réel, de la préparation à la livraison.
					</div>
				</div>
        <div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
						10.  Que se passe-t-il si je ne suis pas chez moi au moment de la livraison ?
					</button>
				</h2>
				<div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse">
					<div class="accordion-body">
						Si vous êtes absent, notre livreur tentera de vous appeler. En cas d’impossibilité de livraison, la commande sera retournée au restaurant et nous vous contacterons pour trouver une solution.
					</div>
				</div>
			</div>
